@model Person

<div class="row" id="@("personid" + Model.Id)">
    <div class="col">
        <p>@Model.Name</p>
    </div>
    <div class="col">
        <p>@Model.PhoneNumber</p>
    </div>
    <div class="col">
        <p>@Model.City</p>
    </div>
    <div class="col">
        <a class="btn btn-danger"
           asp-route-id="@Model.Id"
           asp-controller="AjaxPersons"
           asp-action="AjaxDelete"
           onclick="GetDelete(event, '@Url.Action("AjaxDelete", "AjaxPersons")')">Delete</a>
        <a class="btn btn-success"
           asp-route-id="@Model.Id"
           asp-controller="AjaxPersons"
           asp-action="AjaxEdit"
           onclick="GetEdit(event, '@Url.Action("AjaxEdit", "AjaxPersons", new { id = Model.Id})')">Edit</a>
    </div>
</div>